/* Genel Stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3E5083;
    color: #333;
}

/* Menü Stilleri */
.menu-container {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Menüyü üst sayfayı kaplayacak şekilde ayarla */
  align-items: center; /* Dikey hizalamayı ortala */
}

.social-icons a {
  font-size: 40px; /* İkon büyüklüğünü istediğiniz boyuta ayarlayın */
  margin-left: 30px; /* İkonlar arasında boşluk bırakmak için gerektiğinde ayarlayın */
  color: #3ECCE2; /* İstediğiniz renk */
}

.social-icons a:hover {
  color: #900374; /* İkonun üzerine gelindiğindeki renk */
}

.menu {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start ; /* Değerini flex-start olarak değiştirin */
  align-items: center;
}


.menu li {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin: 0 20px;
}

.menu li a:hover {
  color: #900374;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

/* Medya sorgusu: 768px ve altındaki ekranlar için stil ayarlamaları */
@media (max-width: 768px) {
  .menu li {
    font-size: 20px;
    margin: 10px 10px; /* Uzaklık değerini istediğiniz gibi ayarlayın */
  }
  
  .social-icons {
    margin-top: 20px;
  }
}

/* Medya sorgusu: 480px ve altındaki ekranlar için stil ayarlamaları */
@media (max-width: 480px) {
  .menu li {
    font-size: 5px;
    margin: 5px 5px; /* Uzaklık değerini istediğiniz gibi ayarlayın */
  }
  
  .social-icons a {
    font-size: 10px;
    margin-left: 7px;
  }
}



/* Diğer Stiller */
header, main, footer {
  padding: 20px;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Başlık Stilleri */
h1 {
  font-size: 36px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 12px;
}

/* İçerik Stilleri */
.table-container {
  display: flex;
}

.left-section{
	background-color:#C3C4C4;
	  flex: 0.90;
}
	.right-section {
		background-color:#F2FDFF;
  flex: 1;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.event-image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 10%;
}

.event-image img {
  max-width: 80px;
  height: 80px;
  object-fit: cover;
}

.event-content {
  margin-left: 10px;
}

/* Responsive Tasarım */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }

  .event {
    flex-direction: column;
    text-align: center;
  }

  .event-image {
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
  }

  .event-image img {
    max-width: 100px;
    height: 100px;
  }

  .event-content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 12px;
  }
}
