<style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #FF952B;
      margin: 0;
      padding: 0;
    }
    
    .menu-container {
      width: 100%;
      background-color: #333;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .social-icons a {
      font-size: 40px;
      margin-left: 30px;
      color: #3ECCE2;
    }
    
    .social-icons a:hover {
      color: #900374;
    }
    
    .menu {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
    }
    
    .menu li {
      font-family: 'Roboto Slab', serif;
      font-size: 28px;
      margin: 0 20px;
    }
    
    .menu li a:hover {
      color: #900374;
    }
    
    .menu li a {
      color: #fff;
      text-decoration: none;
    }
	</style>