/* Genel Stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B1533;
    color: #333;
}
.movies{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.movies li{
	flex:1;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	margin: 10px;
	padding: 15px;
	border-radius:12ps;
	text-align:center;
	background:#02071A;
}
.movies li img {
	max-width: 300px;
	border-radius: 12px;
}
.movies li h2 {
	color:#fff;
	font-size: 1.8em;
	padding: 15px 10px 0;
	margin-top: auto;
	font-family:"Oswald", sans-serif;
}

/* Menü Stilleri */
.menu-container {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Menüyü üst sayfayı kaplayacak şekilde ayarla */
  align-items: center; /* Dikey hizalamayı ortala */
}

.social-icons a {
  font-size: 40px; /* İkon büyüklüğünü istediğiniz boyuta ayarlayın */
  margin-left: 30px; /* İkonlar arasında boşluk bırakmak için gerektiğinde ayarlayın */
  color: #3ECCE2; /* İstediğiniz renk */
}

.social-icons a:hover {
  color: #900374; /* İkonun üzerine gelindiğindeki renk */
}


/* Menü Stilleri */
.menu-container {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  font-size: 40px;
  margin-left: 30px;
  color: #3ECCE2;
}

.social-icons a:hover {
  color: #900374;
}

.menu {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin: 0 20px;
}

.menu li a:hover {
  color: #900374;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}



/* Medya sorgusu: 768px ve altındaki ekranlar için stil ayarlamaları */
@media (max-width: 768px) {


  .menu li {
    font-size: 20px;
    margin: 10px 0;
  }

  .social-icons {
    margin-top: 20px;
  }
}

/* Medya sorgusu: 480px ve altındaki ekranlar için stil ayarlamaları */
@media (max-width: 480px) {
 

  .menu li {
    font-size: 5px;
    margin: 5px 0;
  }

  .social-icons a {
    font-size: 10px;
    margin-left: 7px;
  }
}
