/* Genel Stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6DCEF2;
    color: #333;
}

/* Menü Stilleri */
.menu-container {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Menüyü üst sayfayı kaplayacak şekilde ayarla */
  align-items: center; /* Dikey hizalamayı ortala */
}

.social-icons a {
  font-size: 40px; /* İkon büyüklüğünü istediğiniz boyuta ayarlayın */
  margin-left: 30px; /* İkonlar arasında boşluk bırakmak için gerektiğinde ayarlayın */
  color: #3ECCE2; /* İstediğiniz renk */
}

.social-icons a:hover {
  color: #900374; /* İkonun üzerine gelindiğindeki renk */
}


.menu {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  padding: 0;
  display: flex; /* Menü öğelerini yatay olarak sırala */
  justify-content: flex-end; /* Öğeleri sağa hizala */
  align-items: center; /* Dikey hizalamayı ortala */
}

.menu li {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin: 0 20px;
}
.menu li a:hover {
  color: #900374; /* İkonun üzerine gelindiğindeki renk */
}
.menu li a {
  color: #fff;
  text-decoration: none;
}

/* slider stilleri */

.slider-container {
	
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/* Slider container'ı sayfanın ortasında ve yatay olarak hizalar. Genişliği sayfanın tamamını kaplar ve dikeyde ortalanır. */

.slider {
	 border: 3px solid black;
  position: relative;
  height:70%;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #F7C994;
  display: flex;
}
/* Slider içeriği genişliği %50'e kadar olacak şekilde ayarlanır ve belirli bir maksimum genişliğe sahip olur. Slider ortalanır ve beyaz bir arka plana sahip olur. */

.slide {
  display: none;
  text-align: left;
  flex: 1;
  padding: 45px;
  overflow: hidden;
}
/* Her slaytın varsayılan olarak görünmez olmasını sağlar ve içerik merkezi hizalanır. Slaytın içeriği tam genişlikte yer kaplar ve bir iç kenar boşluğu bulunur. */

.slide img {
  width: 35%;
  max-height: 500px;
   align-items: left;
  object-fit: left;
}
/* Slayt içindeki resimlerin genişliği %100 olacak şekilde ayarlanır ve maksimum yükseklik belirlenir. Resimlerin orantılı olarak yerleştirilmesini sağlar. */

.slide .content {
  margin-top: 100px;
 
  text-align: right;
 width: 80%;
  margin-right: 10%;

}
/* Slayt içeriği için bir boşluk (margin) ekler. */

.slider-navigation {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Slider navigasyonu alt kısma hizalanır ve yatayda ortalanır. */

.slider-navigation label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}
/* Slider navigasyon noktalarının görünümü belirlenir. */

.slider-navigation label:hover {
  background-color: #888;
}
/* Slider navigasyon noktalarının üzerine gelindiğinde arka plan rengi değişir. */

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
/* Slider kontrol düğmeleri yatayda ortalanır ve slaytın üst orta kısmında yer alır. */

/*.slider-controls button {
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 24px;
  cursor: pointer;
}
/* Slider kontrol düğmelerinin görünümü belirlenir. */

.slider-controls button:focus {
  outline: none;
  
  
}
.slider .slide .content {
  text-align: right;
}

.slider .slide .content h3,
.slider .slide .content p {
  text-align: right;
}
.content {
  text-align: right;
}
.text-container {
  position: absolute;
  top: 15%;
  right: 0;
 
  transform: translateY(-20%);
  transform: translateX(-20%);
  text-align: left;
}




/* Slider kontrol düğmelerine odaklandığında etrafında bir vurgu çizgisi görünmez. */


/* Diğer Stiller */

header, main, footer {
    padding: 20px;
}

h1, h2, p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Başlık Stilleri */
h1 {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

/* İçerik Stilleri */
#about {
    text-align: center;
}

.activity-list li,
.sport-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.activity-image,
.sport-image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.activity-image img,
.sport-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity-name,
.sport-name {
    margin-left: 10px;
}

/* Footer Stilleri */
footer {
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 10px;
    color: #666;
    font-size: 14px;
}

/* Responsive Tasarım */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }

    .profile-image img {
        max-width: 150px;
    }

    .bio p {
        font-size: 16px;
    }

    .activity-list li,
    .sport-list li {
        flex-direction: column;
        text-align: center;
    }

    .activity-image,
    .sport-image {
        margin-bottom: 10px;
        width: 120px;
        height: 120px;
    }

    .activity-name,
    .sport-name {
        margin-left: 0;
    }

    footer {
        font-size: 12px;
}
}
